.game-details-comments {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
  padding: var(--size-2);

  &_title {
    font-size: var(--body-medium);
    font-weight: var(--weight-bold);
    color: var(--on-primary);
  }
  &_title-skeleton {
    position: relative;
    width: 100%;
    height: var(--size-3);
  }

  &_new {
    display: grid;
    grid-template-columns: var(--size-5) auto var(--size-5);
    align-items: flex-start;
    gap: var(--size-2);
  }

  &_new-avatar {
    width: var(--size-5);
    height: var(--size-5);
    border-radius: var(--corner-full);
    background: var(--primary);
    outline: var(--border-1-5) solid var(--on-primary);
    outline-offset: var(--border-1-5-neg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--weight-bold);
    font-size: var(--body-small);
    color: var(--on-primary);
  }

  &_new-textarea {
    flex: 1;
  }

  .game-details-comments_textarea {
    width: 100%;
    min-height: var(--size-6);
    max-height: var(--size-11);
    resize: none;
    padding: var(--size-1) var(--size-2);
    border-radius: var(--size-1);
    outline: var(--border-1) solid var(--on-primary);
    outline-offset: var(--border-1-neg);
    font-size: var(--body-small);
    color: var(--on-primary);
    overflow: hidden;

    &::placeholder {
      color: var(--text-placeholder);
    }
  }

  &_list {
    display: flex;
    flex-direction: column;
    gap: var(--size-2);
  }

  &_card {
    padding: var(--size-2);
    background: var(--white);
    border-radius: var(--corner-medium);
    box-shadow: var(--level-05-2);
    display: flex;
    flex-direction: column;
    gap: var(--size-1);

    &-skeleton {
      border-color: var(--surface);
      box-shadow: var(--border-3) var(--border-3) 0 var(--surface);
    }
  }

  &_card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_card-user {
    display: flex;
    align-items: center;
    gap: var(--size-1);
  }

  &_card-avatar {
    width: var(--size-3-1);
    height: var(--size-3-1);
    border-radius: var(--corner-full);
    outline: var(--border-1) solid var(--on-primary);
    outline-offset: var(--border-1-neg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--label-medium);
    font-weight: var(--weight-bold);
    color: var(--on-primary);
  }

  &_card-username {
    font-size: var(--body-small);
    font-weight: var(--weight-bold);
    color: var(--on-primary);
  }

  &_card-time {
    font-size: var(--label-medium);
    color: var(--on-bg);
  }

  &_card-text {
    font-size: var(--body-small);
    line-height: 18px;
    color: var(--on-primary);
  }

  &_card-footer {
    display: flex;
    align-items: center;
    gap: var(--size-1);
  }

  .game-details-comments_like {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--size-1);
    background: none;
    border: none;
    cursor: pointer;

    svg {
      height: var(--size-2);
    }
  }

  .game-details-comments_like-count {
    font-size: var(--label-medium);
    font-weight: var(--weight-bold);
    color: var(--on-primary);
  }

  &_title-skeleton {
    width: 40%;
    height: var(--size-3);
  }

  &_new-avatar-skeleton {
    align-self: center;
    position: relative;
    width: var(--size-5);
    height: var(--size-5);
    border-radius: var(--corner-full);
  }

  &_new-textarea-skeleton {
    position: relative;
    width: 100%;
    height: var(--size-6);
  }

  &_new-send-skeleton {
    align-self: center;
    position: relative;
    width: var(--size-5);
    height: var(--size-5);
    border-radius: var(--corner-small);
  }

  &_card-avatar-skeleton {
    position: relative;
    width: var(--size-3-1);
    height: var(--size-3-1);
    border-radius: var(--corner-full);
  }

  &_card-username-skeleton,
  &_card-time-skeleton {
    position: relative;
    width: 40%;
    height: var(--size-3);
  }

  &_card-text-skeleton {
    position: relative;
    width: 100%;
    height: var(--size-5);
  }

  &_like-skeleton,
  &_like-count-skeleton {
    position: relative;
    width: var(--size-3);
    height: var(--size-2);
    border-radius: var(--corner-small);
  }
}
