@use '../../../../styles/variable' as *;
@use '../../../../styles/mixins/tag.scss' as *;

.table-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--size-2);
  gap: var(--size-2);

  @media (min-width: $tablet) {
    padding: var(--size-3) var(--size-5);
    gap: var(--size-3);
  }
  @media (min-width: $laptop) {
    padding: var(--size-5) var(--size-15);
  }

  &_title-wrap {
    display: flex;
    align-items: center;
    gap: var(--size-1);

    &_tag {
      @include heading-tag;
    }

    &_title {
      color: var(--on-primary);
      font-size: var(--headline-medium);
      font-weight: var(--weight-bold);

      &::after {
        content: 'Top Players';
        @media (min-width: $tablet) {
          content: 'Top Players This Week';
        }
      }

      @media (min-width: $laptop) {
        font-size: var(--headline-large);
      }
    }
  }

  &_table {
    width: 100%;
    background: var(--white);
    border-radius: var(--corner-large);
    outline: var(--border-2-5) var(--on-primary) solid;
    outline-offset: var(--border-2-5-neg);
    box-shadow: var(--level-1);
    border-collapse: collapse;
    overflow: hidden;

    @media (min-width: $tablet) {
      box-shadow: var(--level-2);
    }
    @media (min-width: $laptop) {
      box-shadow: var(--level-3);
      border-top-left-radius: var(--corner-medium);
      border-top-right-radius: var(--corner-medium);
    }
  }

  &_table_body {
    width: 100%;
    height: fit-content;
  }

  &_row {
    width: 100%;
    border-bottom: var(--border-1-5) var(--outline) solid;

    display: grid;
    align-items: center;
    gap: var(--size-1) 0;

    grid-template-columns: 40px 1fr 64px 70px;

    font-size: var(--label-large);
    font-weight: var(--weight-bold);
    color: var(--on-primary);

    &:nth-child(even) {
      background: var(--bg);
    }

    .home_table-ceil {
      position: relative;
      height: fit-content;
      width: fit-content;
      min-width: var(--size-4);
      overflow: hidden;
      justify-self: center;
      justify-content: center;
    }

    &:nth-child(4),
    &:nth-child(5) {
      display: none;
      @media (min-width: $laptop) {
        display: grid;
      }
    }

    &--header {
      background: var(--tertiary);
      border-bottom: var(--border-1-5) solid var(--on-primary);
      font-size: var(--label-medium);
      font-weight: var(--weight-extra-bold);
      text-transform: uppercase;

      .header-col {
        color: var(--white);
        text-align: center;
      }

      @media (min-width: $tablet) {
        font-size: var(--body-small);
        height: var(--size-6);
      }

      @media (min-width: $laptop) {
        height: var(--size-8);
      }
    }
    height: var(--size-7);
    @media (min-width: $tablet) {
      grid-template-columns: 80px auto 17.5% 15.5% 17.5%;
      gap: var(--size-1-5);
      height: var(--size-8);
    }

    @media (min-width: $laptop) {
      height: var(--size-9);
      grid-template-columns: 80px repeat(5, 1fr);
    }

    &:nth-of-type(1) .player-avatar {
      background: var(--avatar-color-1);
    }
    &:nth-of-type(2) .player-avatar {
      background: var(--avatar-color-2);
    }
    &:nth-of-type(3) .player-avatar {
      background: var(--avatar-color-3);
    }
    &:nth-of-type(4) .player-avatar {
      background: var(--avatar-color-4);
    }
    &:nth-of-type(5) .player-avatar {
      background: var(--avatar-color-5);
    }
  }

  td,
  th {
    padding: var(--size-1);
    vertical-align: middle;
  }

  .col-rank {
    display: flex;
    text-align: center;
    font-weight: var(--weight-extra-bold);
    min-width: var(--size-2);
    &::first-letter {
      color: var(--tertiary);
    }
  }

  .col-player {
    display: flex;
    align-items: center;
    gap: var(--size-1);

    @media (min-width: $laptop) {
      padding-left: var(--size-2);
      gap: var(--size-1-5);
    }
  }

  .player-avatar {
    position: relative;
    width: var(--size-3);
    height: var(--size-3);
    border-radius: var(--corner-full);
    outline: var(--border-1-5) solid var(--on-primary);
    outline-offset: var(--border-1-neg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--label-small);
    font-weight: var(--weight-bold);
    overflow: hidden;

    @media (min-width: $tablet) {
      width: var(--table-icon);
      height: var(--table-icon);
    }
    @media (min-width: $laptop) {
      width: var(--size-5);
      height: var(--size-5);
      font-size: var(--body-small);
    }
  }

  .player-name {
    position: relative;
    min-width: var(--size-10);
    font-size: var(--body-small);
    font-weight: var(--weight-bold);
    overflow: hidden;
  }

  .col-score,
  .col-streak,
  .col-games,
  .col-favorite {
    text-align: center;
    font-size: var(--label-large);
    font-weight: var(--weight-bold);
  }

  .header-score {
    display: flex;
    justify-content: center;

    &::after {
      content: 'Score';
      @media (min-width: $laptop) {
        content: 'Total Score';
      }
    }
  }

  .header_games,
  .col-games {
    display: none;
    @media (min-width: $tablet) {
      display: table-cell;
    }
  }

  .col-favorite {
    @include tag;
    justify-self: center;
    position: relative;
    width: fit-content;
    min-width: var(--size-8);
    min-height: var(--size-3);
    overflow: hidden;
    background: var(--bg);
  }
  .header_favorite,
  .col-favorite {
    display: none;
    @media (min-width: $laptop) {
      display: table-cell;
    }
  }

  .col-streak::after {
    content: 'd';
    @media (min-width: $laptop) {
      content: 'days';
      padding-left: var(--size-05);
    }
  }

  .header_games::after {
    content: 'Games';

    @media (min-width: $laptop) {
      content: 'Games Played';
    }
  }

  .col-games,
  .col-streak,
  .col-score {
    min-width: var(--size-4);
    @media (min-width: $tablet) {
      min-width: var(--size-5);
    }
    @media (min-width: $laptop) {
      min-width: var(--size-5);
    }
  }
}
