.app_switcher {
  width: 100%;
  height: var(--size-6);
  background: var(--white);
  display: flex;
  border-radius: var(--corner-medium);
  outline: 2.5px var(--on-primary) solid;
  outline-offset: -2.5px;
  overflow: hidden;
  transition: 0.3s;

  &_btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    color: var(--on-bg);
    padding: var(--size-3) var(--size-2);
    border-radius: var(--corner-small);
    font-size: var(--body-medium);
    font-weight: var(--weight-bold);
    color: var(--on-bg);
    transition: 0.3s;
    border: none;
    outline: none;

    &.is-active {
      background: var(--bg-footer-low);
      color: var(--white);
      pointer-events: none;
    }

    &:hover {
      background: var(--primary);
    }
  }
}
