$min-tablet: 376px;
$min-laptop: 769px;
$min-desktop: 1025px;

$max-mobile: 375px;
$max-tablet: 768px;
$max-laptop: 1024px;
$max-desktop: 1920px;

$mobile: 375px;
$mobile-lg: 430px;
$tablet: 768px;
$laptop: 1024px;
$pc: 1240px;
$desktop: 1920px;
