:root {
  --size-025: 2px;
  --size-05: 4px;
  --size-1: 8px;
  --size-1-5: 12px;
  --size-1-4: 10px;
  --size-2: 16px;
  --size-2-1: 18px;
  --size-3: 24px;
  --size-3-1: 28px;
  --size-4: 32px;
  --size-5: 40px;
  --size-6: 48px;
  --size-7: 56px;
  --size-8: 64px;
  --size-9: 72px;
  --size-10: 80px;
  --size-11: 88px;
  --size-12: 96px;
  --size-13: 104px;
  --size-14: 112px;
  --size-15: 120px;

  --icon-size-x-lg: 50px;
  --icon-size-lg: 32px;
  --icon-size-md: 40px;
  --icon-size-sm: 20px;

  --btn-large-padding: 16px 24px;
  --btn-medium-padding: 10px 20px;
  --btn-small-padding: 8px 16px;
  --btn-icon-padding: 8px;

  --layout-burger-width: 320px;
  --layout-burger-height: 587px;
  --layout-hero-width-md: 480px;
  --layout-hero-width-lg: 640px;
  --layout-dev-img-sm: 227px;
  --layout-dev-img-md: 284px;
  --layout-dev-img-lg: 480px;
  --layout-dev-img-xl: 600px;
  --layout-slider-sm: 200px;
  --layout-slider-md: 285px;
  --layout-slider-lg: 388px;
  --layout-slider-gradient-height: 114px;
  --layout-table-height-lg: 72px;
  --layout-slide-info-height: 54px;

  --input-height-md: 48px;

  /* LIBRARY */
  --layout-card-img-width: 343px;
  --layout-card-img-height: 160px;
  --layout-sort-height: var(--size-6);
}
