:root {
  --size-0125: 1px;
  --size-025: 2px;
  --size-05: 4px;
  --size-1: 8px;
  --size-1-5: 12px;
  --size-1-4: 10px;
  --size-2: 16px;
  --size-2-1: 18px;
  --size-3: 24px;
  --size-3-1: 28px;
  --size-4: 32px;
  --size-5: 40px;
  --size-6: 48px;
  --size-7: 56px;
  --size-8: 64px;
  --size-9: 72px;
  --size-10: 80px;
  --size-11: 88px;
  --size-12: 96px;
  --size-13: 104px;
  --size-14: 112px;
  --size-15: 120px;

  --border-1: 1px;
  --border-1-5: 1.5px;
  --border-2: 2px;
  --border-2-5: 2.5px;

  --border-1-neg: -1px;
  --border-1-5-neg: -1.5px;
  --border-2-neg: -2px;
  --border-2-5-neg: -2.5px;

  --icon-size-x-lg: 50px;
  --icon-size-sm: 20px;
  --table-icon: 28px;
  --icon-size-lg: 32px;
  --icon-size-md: 40px;

  --btn-large-padding: 16px 24px;
  --btn-medium-padding: 10px 20px;
  --btn-small-padding: 8px 16px;
  --btn-icon-padding: 8px;

  --layout-burger-width: 320px;
  --layout-burger-height: 587px;
  --layout-hero-width-md: 480px;
  --layout-hero-width-lg: 640px;
  --layout-dev-img-sm: 227px;
  --layout-dev-img-md: 284px;
  --layout-dev-img-lg: 480px;
  --layout-dev-img-xl: 600px;
  --layout-slider-sm: 200px;
  --layout-slider-md: 285px;
  --layout-slider-lg: 388px;
  --layout-slider-gradient-height: 114px;
  --layout-table-height-lg: 72px;
  --layout-slide-info-height: 54px;
  --layout-auth-dialog-width: 420px;

  --input-height-md: 48px;

  /* LIBRARY */
  --layout-card-img-width: 343px;
  --layout-card-img-height: 160px;
  --layout-card-img-height-tablet: 152px;
  --layout-sort-height: var(--size-6);
  --layout-section-tablet-padding: var(--size-3) var(--size-5);
  --layout-section-desktop-padding: var(--size-5) var(--size-15);
  --layout-footer-text-max-width: 400px;

  --ui-select-width: 200px;
  --ui-select-max-height: 200px;
  --ui-select-tablet-width: 182px;
  --ui-select-desktop-width: 190px;
  --ui-select-height: 44px;

  --ui-card-height-mobile: 392px;
  --ui-card-img-h-mobile: 286px;
  --ui-max-card-text-height-sm: 66px;
  --ui-min-card-height-sm: 215px;

  --tag-padding: var(--size-025) var(--size-1);

  --dialog-min-width: 320px;
  --dialog-laptop-width: 600px;
  --dialog-img-h: 220px;
}
