@use '../../../styles/variable' as *;

.app_portal {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--pop-up-bg);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  overflow: hidden;
  z-index: 100;

  &_open {
    opacity: 1;
    pointer-events: auto;
  }
}
