@use '../../../styles/variable' as *;

.app_button {
  width: fit-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-05);
  font-family: var(--font-inter);
  font-weight: var(--weight-bold);
  cursor: pointer;
  transition: all 0.3s;
  white-space: nowrap;
  outline-offset: -2px;
  border: none;
  background: transparent;

  &[disabled] {
    pointer-events: none;
    opacity: 0.6;
  }

  &[data-full='true'] {
    width: 100%;
  }

  &:active {
    transform: scale(0.97);
  }
}

.app_button[data-variant='solid'] {
  outline: 2px solid;
}

/* COLOR VARIANT */
.app_button[data-color='primary'] {
  background: var(--primary);
  color: var(--on-primary);
  outline-color: var(--black);

  &:hover {
    background: var(--primary-high);
  }
}

/* LIGHT */
.app_button[data-color='light'] {
  background: var(--white);
  color: var(--on-primary);
  outline-color: var(--black);
  &:hover {
    background: var(--surface);
  }
}

/* DARK */
.app_button[data-color='dark'] {
  background: var(--bg-footer-low);
  color: var(--white);
  outline-color: var(--transparent);

  &:hover {
    background: var(--bg-footer-lowest);
    outline-color: var(--primary);
  }
}

/* CHIPS */
.app_button[data-color='chips'] {
  background: var(--white);
  color: var(--on-primary);
  outline-color: var(--black);

  &:hover {
    background: var(--surface);
    outline-color: var(--on-primary);
  }

  &:active {
    background: var(--primary);
    outline-color: var(--black);
  }
}

/* GHOST */
.app_button[data-color='ghost'] {
  background: var(--transparent);
  color: var(--white);
  outline-color: var(--white);

  &:hover {
    outline-color: var(--primary);
  }
}

/* SIZES */

.app_button[data-size='sm'] {
  padding: var(--btn-small-padding);
  gap: var(--size-1);
  border-radius: var(--corner-medium);
  font-size: var(--label-medium);
}

/* game-section */
.app_button[data-response='sm'] {
  padding: var(--btn-small-padding);
  gap: var(--size-1);
  border-radius: var(--corner-medium);
  font-size: var(--label-medium);

  @media (min-width: $tablet) {
    font-size: var(--body-small);
  }

  @media (min-width: $laptop) {
    padding: var(--btn-large-padding);
    font-size: var(--body-large);
  }
}

.app_button[data-size='md'] {
  padding: var(--btn-medium-padding);
  gap: var(--size-1);
  border-radius: var(--corner-medium);
  font-size: var(--body-small);
}

.app_button[data-response='md'] {
  padding: var(--btn-small-padding);
  font-size: var(--body-small);

  @media (min-width: $min-laptop) {
    padding: var(--btn-medium-padding);
    font-size: var(--body-small);
  }
}

.app_button[data-size='lg'] {
  padding: var(--btn-large-padding);
  font-size: var(--body-medium);
  border-radius: var(--corner-medium);
}

/* round icon size */
.app_button[data-size='icon-md'] {
  width: var(--icon-size-lg);
  height: var(--icon-size-lg);
  font-size: var(--body-medium);
  padding: var(--size-1-4);
  .google-icons {
    font-size: var(--body-medium);
  }

  @media (min-width: $laptop) {
    width: var(--size-5);
    height: var(--size-5);
    .google-icons {
      font-size: var(--headline-small);
    }
  }
}

.app_button[data-size='icon-lg'] {
  width: var(--size-5);
  height: var(--size-5);
  font-size: var(--body-large);

  @media (min-width: $laptop) {
    width: var(--size-6);
    height: var(--size-6);
    font-size: var(--headline-medium);
  }
}

/* None — icon-only (eye in input) */
.app_button[data-size='none'] {
  padding: 0;
}

/* CORNERS */
.app_button[data-shape='sm'] {
  border-radius: var(--corner-small);
}

.app_button[data-shape='md'] {
  border-radius: var(--corner-large);
}

.app_button[data-shape='lg'] {
  border-radius: var(--corner-20);
}

.app_button[data-shape='rounded'] {
  border-radius: var(--corner-extra-large);
}

.app_button[data-shape='circle'] {
  border-radius: var(--corner-full);
}

/* SHADOW */
.app_button[data-shadow='none'] {
  box-shadow: none;
}

.app_button[data-shadow='soft'] {
  box-shadow: var(--button-shadow);
}

.app_button[data-shadow='hard'] {
  box-shadow: var(--level-1);
}

/* VARIANT */
/* Outline — without outline */
.app_button[data-variant='empty'] {
  outline: none;
  border-radius: 0;
  padding: 0;
}

.app_button[data-font] {
  font-family: var(--font-roboto);
}

.app_button[data-dropdown] {
  justify-content: space-between;
}
