@mixin nav-item {
  position: relative;
  width: fit-content;
  color: var(--on-bg-footer);
  font-size: var(--body-small);
  cursor: pointer;
  white-space: nowrap;
  transition: 0.3s;

  &::after {
    content: '';
    position: absolute;
    left: var(--size-05);
    bottom: var(--border-2-neg);
    width: calc(100% - var(--size-1));
    height: var(--border-1);
    background: transparent;
    transition: background 0.3s;
  }

  &:hover {
    color: var(--primary);

    &::after {
      background: var(--primary);
    }
  }

  &:active {
    color: var(--primary);
    font-weight: var(--weight-bold);
    &::after {
      background: transparent;
    }
  }
}
