@use '../variable' as *;

@mixin heading-tag {
  display: inline-block;
  width: var(--size-1);
  height: var(--size-3);
  border-radius: var(--corner-medium);
  background: var(--primary);
  border: 1.5px solid var(--on-primary);

  @media (min-width: $min-laptop) {
    height: var(--size-4);
  }
}
