@use '../../../styles/variable' as *;

.header {
  width: 100%;
  background: var(--bg);
  display: flex;
  justify-content: space-between;
  padding: var(--size-2);
  gap: var(--size-2);
  align-items: center;
  border-bottom: var(--size-025) var(--on-primary) solid;

  .header_nav,
  .header_login_btn,
  .header_signup_btn {
    display: none;
  }

  .header_burger_btn {
    &:hover {
      transform: scale(1.25);
    }
  }

  @media (min-width: $min-tablet) {
    display: grid;
    padding: var(--size-2-1) var(--size-5);
    grid-template-columns: 1fr repeat(2, auto);

    .header_signup_btn {
      display: flex;
    }
  }

  @media (min-width: $min-laptop) {
    display: grid;
    grid-template-columns: 1fr repeat(2, auto);
    padding: var(--size-3) var(--size-10);
    gap: var(--size-2);

    .header_burger_btn {
      display: none;
    }

    .header_nav {
      display: flex;
      grid-row: 2;
      grid-column: 1/4;
      justify-self: flex-start;
      padding-right: var(--size-2);
    }

    .header_login_btn {
      display: flex;
    }
  }

  @media (min-width: $min-desktop) {
    grid-template-columns: 1fr repeat(3, auto);

    .header_nav {
      grid-row: 1;
      grid-column: 2;
    }
  }
}
