@use '../../../styles/variable' as *;

.footer {
  width: 100%;
  background: var(--bg-footer);
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  gap: 28px;

  @media (min-width: $tablet) {
    padding: var(--size-5);
    gap: 52px;
  }

  @media (min-width: $laptop) {
    padding: 40px 120px;
    gap: 88px;
  }

  &_top {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;
    gap: var(--size-3);

    @media (min-width: $tablet) {
      display: grid;
      grid-template-columns: min-content auto;
      gap: var(--size-3) var(--size-5);
    }

    @media (min-width: $laptop) {
      gap: 36px var(--size-5);
      grid-template-columns: 1fr auto auto;
    }
  }

  &_brand {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 32px auto;
    align-items: center;
    gap: var(--size-3) var(--size-1);

    @media (min-width: $laptop) {
      width: 400px;
    }

    &-logo {
      grid-column: 1;
      width: 32px;
      height: 32px;
    }

    &-title {
      grid-column: 2;
      color: var(--white);
      font-size: var(--headline-small);
      font-weight: 700;

      @media (max-width: $tablet) {
        font-size: 20px;
      }
      @media (min-width: $laptop) {
        font-size: 24px;
      }
    }

    &-desc {
      grid-row: 2;
      grid-column: 1/3;
      color: var(--on-bg-footer);
      font-size: 14px;
      line-height: 21px;
    }
  }

  &_links {
    grid-column: 1/2;
    display: flex;
    gap: 104px;

    @media (min-width: $tablet) {
      gap: 40px;
    }

    @media (min-width: $laptop) {
      grid-column: 2/3;
      grid-row: 1;
    }

    &-col {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    &-title {
      color: var(--white);
      font-size: 16px;
      font-weight: 700;
    }

    &-item {
      position: relative;
      width: fit-content;
      color: var(--on-bg-footer);
      font-size: 14px;
      cursor: pointer;
      white-space: nowrap;
      transition: 0.3s;

      &::after {
        content: '';
        position: absolute;
        left: 4px;
        bottom: -2px;
        width: calc(100% - 8px);
        height: 1px;
        background: transparent;
        transition: background 0.3s;
      }

      &:hover {
        color: var(--primary);

        &::after {
          background: var(--primary);
        }
      }

      &:active {
        color: var(--primary);
        font-weight: var(--weight-bold);
        &::after {
          background: transparent;
        }
      }
    }
  }

  &_community {
    grid-column: 2/3;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (min-width: $laptop) {
      grid-column: 3/4;
      grid-row: 1;
    }

    &-title {
      color: var(--white);
      font-size: 16px;
      font-weight: 700;
    }

    &-icons {
      display: flex;
      gap: 16px;
    }

    &-icon {
      width: 32px;
      height: 32px;
      background: var(--bg-footer-low);
      border-radius: var(--corner-full);
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--white);
      font-size: var(--body-medium);
      outline: 0.5px transparent solid;
      outline-offset: -1px;
      transition: 0.3;

      &:hover {
        outline-color: var(--primary);
        background: var(--on-primary);
      }

      &:active {
        transform: scale(0.97);
      }

      @media (max-width: $tablet) {
        width: 32px;
        height: 32px;
        font-size: 16px;
      }
    }
  }

  &_bottom {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: var(--size-1) var(--size-2);
    border-top: 1px solid var(--bg-footer-low);

    @media (min-width: $tablet) {
      display: flex;
      gap: 16px;
    }

    @media (min-width: $laptop) {
      justify-content: space-between;
    }

    &-copy {
      grid-row: 1;
      grid-column: 1/3;
      color: var(--on-bg-footer);
      font-size: var(--label-medium);
      font-weight: var(--weight-regular);
      @media (min-width: $tablet) {
        font-size: var(--body-small);
      }
    }

    &-rs {
      grid-column: 1;
    }

    &-code {
      grid-column: 2;
      align-self: start;

      &-icon {
        background: var(--white);
        color: var(--on-primary);
        font-size: var(--body-small);
      }
    }

    &-rs,
    &-code {
      display: flex;
      align-items: center;
      gap: 8px;
      cursor: pointer;

      &-icon {
        width: 20px;
        height: 20px;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;

        &:hover {
          transform: scale(1.2);
        }
        &:active {
          transform: scale(0.9);
        }
      }

      &-text {
        color: var(--on-bg-footer);
        font-size: var(--label-medium);
        font-weight: var(--weight-regular);
        white-space: nowrap;

        @media (min-width: $tablet) {
          font-size: var(--body-small);
        }
      }
    }

    &-love {
      color: var(--on-bg-footer);
      font-size: 14px;
      display: none;

      @media (min-width: $tablet) {
        display: block;
      }
    }
  }
}
