@use '../../../../styles/variable' as *;
@use '../../../../styles/mixims/common.scss' as *;

.library_cards {
  width: 100%;
  padding: 0 var(--size-2);
  display: flex;
  flex-direction: column;
  gap: var(--size-2);

  @media (min-width: $tablet) {
    padding: 0 var(--size-5);
    gap: var(--size-3);
  }

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 var(--size-15);
  }

  .library_game-card {
    width: 100%;
    background: var(--white);
    border-radius: var(--corner-large);
    outline: var(--border-2) solid var(--on-primary);
    outline-offset: var(--border-2-neg);
    box-shadow: var(--level-1);
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &_img {
      width: 100%;
      height: var(--layout-card-img-height);
      object-fit: cover;
    }

    @media (min-width: $tablet) {
      display: grid;
      grid-template-columns: 39.3% auto;
      gap: 0;

      &_img {
        height: 100%;
      }
    }
    @media (min-width: $tablet) {
      grid-template-columns: 38.9% auto;
    }

    &_body {
      padding: var(--size-2);
      display: flex;
      flex-direction: column;
      gap: var(--size-2);

      @media (min-width: $tablet) {
        gap: var(--size-1);
      }

      @media (min-width: $laptop) {
        gap: var(--size-2);
      }
    }

    &_header {
      display: flex;
      flex-direction: column;
      gap: var(--size-1);

      &_title {
        font-size: var(--headline-small);
        font-weight: var(--weight-bold);
        color: var(--on-primary);
      }

      &_category {
        width: fit-content;
        padding: var(--tag-padding);
        background: var(--secondary);
        border-radius: var(--corner-extra-large);
        outline: var(--border-1) solid var(--on-primary);
        outline-offset: var(--border-1-neg);
        font-size: var(--label-medium);
        font-weight: var(--weight-bold);
        color: var(--on-primary);
      }

      &_price {
        display: none;
        font-size: var(--headline-medium);
        font-weight: var(--weight-bold);
        color: var(--price-free);
      }

      @media (min-width: $tablet) {
        display: grid;
        grid-template-columns: auto 1fr min-content;
        align-items: center;
        gap: var(--size-2);

        &_price {
          display: block;
          color: var(--price-free);
          font-size: var(--headline-small);
          font-weight: var(--weight-bold);
        }
      }

      @media (min-width: $laptop) {
        &_title {
          font-size: var(--headline-medium);
        }

        &_price {
          font-size: var(--headline-medium);
        }
      }
    }

    &_desc {
      @include truncate(2);
      font-size: var(--body-small);
      font-weight: var(--weight-medium);
      color: var(--on-bg);
      line-height: 1.4;
      max-height: var(--ui-max-card-text-height-sm);
      overflow: hidden;
      text-overflow: ellipsis;

      @media (min-width: $tablet) {
        margin-bottom: var(--size-1);
      }

      @media (min-width: $laptop) {
        @include truncate(3);
        font-size: var(--body-medium);
        line-height: 22.8px;
        margin-bottom: var(--size-05);
      }
    }

    &_footer {
      width: 100%;
      display: grid;
      grid-template-columns: min-content auto 1fr;
      justify-content: space-between;
      align-items: center;
      gap: var(--size-2);

      &_rating,
      &_likes {
        display: flex;
        align-items: center;
        gap: var(--size-05);
      }

      .game-card_icon {
        width: var(--icon-size-sm);
        height: var(--icon-size-sm);
      }

      &_rating-value,
      &_likes-value {
        font-size: var(--body-small);
        font-weight: var(--weight-bold);
        color: var(--on-primary);
      }

      &_price {
        justify-self: end;
        color: var(--price-free, #0b8a8f);
        font-size: var(--headline-small);
        font-weight: var(--weight-extra-bold);
      }

      &_details {
        grid-row: 2;
        grid-column: 1/4;
        padding: var(--btn-small-padding);
      }

      @media (min-width: $tablet) {
        grid-template-columns: auto 1fr min-content;

        &_price {
          display: none;
        }

        &_details {
          grid-column: 3;
          grid-row: 1;
        }
      }
      @media (min-width: $laptop) {
        gap: var(--size-3);

        &_details {
          padding: var(--btn-medium-padding);
          font-size: var(--body-small);
        }
      }
    }
  }
}
